.diet-history-container {
    padding: 20px;
    text-align: center;
}

.month-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    width: 100%;
}

.day-label {
    font-weight: bold;
}

.calendar-day {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 1px solid var(--border-color);
    background-color: var(--secondary-bg-color);
    border-radius: 8px;
    text-align: center;
    position: relative;
}
.calendar-day:hover{
    background-color: #47474a;
}
.current-month {
    flex-grow: 1;
    text-align: center;
}

.empty {
    background-color: var(--primary-bg-color);
    /* Light gray background for empty days */
    border: none;
    pointer-events: none;
}


.completed {
    background-color: var(--button-bg-color);
}

.completed:hover {
    background-color: var(--button-hover-bg-color);
    cursor: pointer;
}

.completed-icon {
    position: absolute;
    top: 5px;
    right: 5px;
}

.day-number {
    font-size: 1.2em;
}

.value-text{
    display: flex;
    flex-direction: column; /* Arrange spans vertically */
    justify-content: center; /* Center vertically */
    align-items: center; /
}

.value-text span{
    width: fit-content;
    background-color: var(--button-bg-color);
    border: 3px solid var(--border-color);
    border-radius: 5px;
    font-size: 1rem;
    color: #00ff44;
    margin: 5px 0; 
}

