.app {
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #EAEAEA; /* Adjusted to the light text color */
    font-size: 16px;
    align-items: center;
    background-color: #1E1E2F;
}
