  .category {
      margin: 20px;
  }

  .exercise-row {
      display: flex;
  }

  .scroll-container {
      width: 100vw;
      overflow-x: hidden;
      white-space: nowrap;
      scroll-behavior: smooth;
      flex-grow: 1;
  }

  .exercise {
      margin: 10px;
      text-align: center;
      background-color: var(--secondary-bg-color);
      border: 3px solid var(--border-color);
      border-radius: 5px;
      cursor: pointer;
  }

  .exercise img {
      width: 150px;
      height: 150px;
      object-fit: cover;
  }

  .scroll-arrow {
      position: absolute;
      display: inline;
      color: var(--primary-bg-color);
      background-color: var(--button-bg-color);
      border-radius: 9px;
      cursor: pointer;
      z-index: 1;
  }
  .scroll-arrow:hover{
    background-color: var(--button-hover-bg-color);
}

  .scroll-arrow.left {
      left: 0;
      transform: translateY(6rem); 
  }

  .scroll-arrow.right {
      right: 0;
      transform: translateY(-8rem); 
  }