  .category {
      margin: 20px;
  }

  .exercise-row {
      display: flex;
      flex-wrap: wrap;
  }

  .exercise-container {
      width: 100vw;
      overflow-x: hidden;
      white-space: nowrap;
      scroll-behavior: smooth;
      flex-grow: 1;
  }

  .exercise {
      margin: 10px;
      text-align: center;
      background-color: var(--secondary-bg-color);
      border: 3px solid var(--border-color);
      border-radius: 5px;
      cursor: pointer;
  }

  .exercise img {
      width: 150px;
      height: 150px;
      object-fit: cover;
  }
