  .category {
      margin: 20px;
  }

  .exercise-row {
      display: flex;
      overflow-x: auto;
  }

  .exercise {
      margin: 10px;
      text-align: center;
  }

  .exercise img {
      width: 150px;
      height: 150px;
      object-fit: cover;
  }